<!doctype html>
<head>
  <title>Identity Marker</title>
</head>

<body>
  <p>Please answer according to the following tweet(s):</p>
  <ul>
    {% for content in content_list %}
    <li> {{content | safe }}
    {% endfor %}
  </ul>
  <form method="POST">
  <div><label>Do you think the mention of <b>{{keyword}}</b> in this context is positive, or negative? (NOTE: negative only when these posts show clear tendency against <b>{{keyword}}</b>) </label></div>
  <br>
    <input type="radio" name="positive_negative_mention" value="1">positive<br>
    <input type="radio" name="positive_negative_mention" value="-1">negative<br>
    <br>
    <br>
  <input type="submit" value="Submit">
</form>
</body>