<!doctype html>
<head>
  <title>Identity Marker</title>
</head>

<body>
  <p>Please answer according to the following tweet(s):</p>
  <ul>
    {% for content in content_list %}
    <li> {{content | safe }}
    {% endfor %}
  </ul>
  <form method="POST">
  <div><label>Do you think the mention of <b>{{keyword}}</b> in this context is positive, or negative? (NOTE: negative only when these posts show clear tendency against <b>{{keyword}}</b>) </label></div>
  <select id="pos_neg" name="positive_negative_mention">
    <option value="0" selected></option>
    <option value="1">positive</option>
    <option value="-1">negative</option>
  </select>
  <input type="submit" value="Submit">
</form>
</body>